[Unit]
Description=Check the battery level each 5min

[Timer]
#Start 5sec after boot
OnBootSec=5sec
#Play every 5 minutes
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
